* {
    background-color:rgb(184, 235, 184);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    text-align: center;;
    color: rgba(120, 120, 120, 0.65);
    background-color: rgba(100, 180, 100, 0.7);
    margin: -10px;
}
.listaReceitas {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}
.thumbs {
    height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}